<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/style2.css" />

    <title>Document</title>
</head>

<body>
    <!------ Include the above in your HEAD tag ---------->
    <div class="login-header">
        <h1>Receiving Address</h1>        
    </div>
    <center>
        <h6>Enter the valid information </h6>
    </center>
    <br />
    {{!-- enctype="multipart/form-data" --}}
    <form action="/add_address" method="post">
        <div class="register-form">
            <div class="form">
                <div class="form-content">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="House No. *" value="" name="house_no" />
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Society/Colony *" value=""
                                    name="society" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Area name *" value=""
                                    name="area_name" />
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="City *" value="" name="city" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Nearby *" value="" name="nearby" />
                            </div>

                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="State *" value="" name="state" />
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Pincode *" value=""
                                    name="pincode" />
                            </div>

                        </div>
                        <input type="hidden" name="book_id" value="{{book.book_id}}">
                        <input type="hidden" name="title" value="{{book.title}}">
                        <input type="hidden" name="category" value="{{book.category}}">
                        <input type="hidden" name="author" value="{{book.author}}">
                        <input type="hidden" name="language" value="{{book.language}}">
                        <input type="hidden" name="price" value="{{book.price}}">
                        <input type="hidden" name="no_of_pages" value="{{book.no_of_pages}}">
                        <input type="hidden" name="quanity" value="{{book.quanity}}">
                        <input type="hidden" name="publisher" value="{{book.publisher}}">
                        <input type="hidden" name="publication_date" value="{{book.publication_date}}">
                        <input type="hidden" name="country_of_origin" value="{{book.country_of_origin}}">
                        <input type="hidden" name="book_condition" value="{{book.book_condition}}">
                        <input type="hidden" name="description" value="{{book.description}}">
                        <input type="hidden" name="book_transaction_status" value="{{book.book_transaction_status}}">
                        <input type="hidden" name="user_id" value="{{book.user_id}}">
                        <input type="hidden" name="book_image" value="{{book.book_image}}">
                        {{!-- <input type="hidden" name="receiving_address" value="{{book.receiving_address}}"> --}}
                        <input type="hidden" name="available" value="{{book.available}}">
                    </div>
                    <input type="submit" class="btnSubmit" value="Add">
                </div>
            </div>
        </div>
    </form>
</body>

</html>