<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/style2.css" />

    <title>Document</title>
</head>

<body>
    <!------ Include the above in your HEAD tag ---------->
    <div class="login-header">
        <h1>{{book.title}}</h1>
    </div>
    <center>
        <h6>{{book.description}}</h6>
    </center>
    <br />
    <form action="" method="post" enctype="multipart/form-data">
        <div class="register-form">
            <div class="form">
                <div class="card" style="padding:50px 50px 0px 50px;">
                    <div class="card-body">
                        <table>
                            <tbody>
                
                                <tr>
                                    <td>
                                        <img src="../../book/{{book.book_image}}" class="profile_img"
                                            style="height: 100px; width: 100px" alt="" />
                                    </td>
                                </tr>
                                <tr>
                                    <td><br></td>
                                </tr>
                                <tr>
                                    <td>Book ID</td>
                                    <td>:</td>
                                    <td>{{book.book_id}}</td>
                                </tr>
                                <input type="hidden" name="book_id" value="{{book.book_id}}">
                                <tr>
                                    <td>Title</td>
                                    <td>:</td>
                                    <td>{{book.title}}</td>
                                </tr>
                                <tr>
                                    <td>Category</td>
                                    <td>:</td>
                                    <td>{{category.cat_name}}</td>
                                </tr>
                                <tr>
                                    <td>Author</td>
                                    <td>:</td>
                                    <td>{{book.author}}</td>
                                </tr>
                                <tr>
                                    <td>Language</td>
                                    <td>:</td>
                                    <td>{{book.language}}</td>
                                </tr>
                                <tr>
                                    <td>No of Pages</td>
                                    <td>:</td>
                                    <td>{{book.no_of_pages}}</td>
                                </tr>
                                <tr>
                                    <td>Quantity</td>
                                    <td>:</td>
                                    <td>{{book.quanity}}</td>
                                </tr>
                                <tr>
                                    <td>Price</td>
                                    <td>:</td>
                                    <td>{{book.price}}</td>
                                </tr>
                                <tr>
                                    <td>Publisher</td>
                                    <td>:</td>
                                    <td>{{book.publisher}}</td>
                                </tr>
                                <tr>
                                    <td>Publication Date</td>
                                    <td>:</td>
                                    <td>{{book.publication_date}}</td>
                                </tr>
                                <tr>
                                    <td>On Sale Date</td>
                                    <td>:</td>
                                    <td>{{book.on_sale_date}}</td>
                                </tr>
                                <tr>
                                    <td>Country of Origin</td>
                                    <td>:</td>
                                    <td>{{book.country_of_origin}}</td>
                                </tr>
                                <tr>
                                    <td>Book Condition</td>
                                    <td>:</td>
                                    <td>{{book.book_condition}}</td>
                                </tr>
                                <tr>
                                    <td>Description</td>
                                    <td>:</td>
                                    <td>{{book.description}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <br>
                        
                        <a href="/buy_book/?book_id={{book.book_id}}" class="registerbtn">Buy Now</a>
                        {{!-- <input type="submit" class="registerbtn" value="Buy Now"> --}}
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>

</html>