<!DOCTYPE html>
<html>

<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <link rel="icon" href="images/favicon.png" type="image/gif" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
{{description}}
    <title>VolumePoint</title>

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
    <!-- font awesome style -->
    <link href="/css/font-awesome.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="/css/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="/css/responsive.css" rel="stylesheet" />
</head>

<body class="sub_page">
    <div class="n_bar">
        <a href="/login"><i class="fa fa-fw fa-user"></i> Login</a>
        <a href="/dashboard"><i class="fa fa-shopping-cart"></i> Cart</a>
    </div>
    
    {{!-- header section --}}
    <div class="hero_section">{{description}}
        {{>header}}
    </div>
  
    <!-- catagory section -->
    <section class="catagory_section layout_padding">
        <div class="catagory_container">
            <div class="container">
                <div class="heading_container heading_center">
                    <h2>Books Categories</h2>
                    <p>
                        Our bookstore offers a diverse collection of books across categories, including fiction, non-fiction, and more.
                    </p>
                </div>
                <div class="row">
                    {{#each data.records}}
                    <div class="col-sm-6 col-md-4">
                        <div class="box">
                            <div class="img-box">
                                <a href="/book/{{cat_id}}"><img src="../category/{{cat_image}}" alt="" /></a>
                            </div>
                            <div class="detail-box">
                                <h5>{{cat_name}}</h5>
                                 <p>{{description}}</p> 
                            </div>
                        </div>
                    </div>
                   {{/each }}
                    
                </div>
            </div>
        </div>

        <div class="carousel_btn_box">
            
            {{#if data.prevPage}}
                <a class="carousel-control-prev carousel-control-prev2" href="/category/?page={{data.prevPage}}" role="button" data-slide="prev">
                    <i class="fa fa-angle-left" aria-hidden="true"></i>
                    <span class="sr-only">Previous</span>
                </a>
            {{/if}}
            {{#if data.records}}
            <a class="carousel-control-next carousel-control-next2" href="/category/?page={{data.nextPage}}" role="button" data-slide="next">
                <i class="fa fa-angle-right" aria-hidden="true"></i>
                <span class="sr-only">Next</span>
            </a>
            {{else}}
            <div class="heading_container heading_center">
                <br> <br>
                <h2 >No records found</h2>
            </div>
            {{/if}}
            {{!-- <a class="carousel-control-next"  href="/category?page={{data.nextPage}}" role="button" data-slide="next">
                <i class="fa fa-angle-right" aria-hidden="true"></i>
                <span class="sr-only">Next</span>
            </a> --}}
        </div>
       
    </section>
   
    
    <!-- end catagory section -->

    <!-- info section -->

    <section class="info_section layout_padding2">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-3 info-col">
                    <div class="info_detail">
                        <h4>About Us</h4>
                        <p>
                            Passionate about literature, we offer a wide variety of books, excellent customer service, and a unique online book
                            barter system.
                        </p>
                        <div class="info_social">
                            <a href="">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </a>
                            <a href="">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </a>
                            <a href="">
                                <i class="fa fa-linkedin" aria-hidden="true"></i>
                            </a>
                            <a href="">
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 info-col">
                    <div class="info_contact">
                        <h4>Address</h4>
                      <div class="contact_link_box">
                            <a href="http://maps.google.com/?q=nav+gujarat++collegelocation&rlz=1C1YTUH_enIN1024IN1024&ei=Uz9GZMIls5yx4w_UjKPoBA&ved=0ahUKEwiCm4GejsL-AhUzTmwGHVTGCE0Q4dUDCA8&uact=5&oq=nav+gujarat++collegelocation&gs_lcp=Cgxnd3Mtd2l6LXNlcnAQAzIKCCEQoAEQwwQQCjoLCAAQigUQhgMQsAM6CAghEKABEMMEOgQIIRAKSgQIQRgBUOgBWNUKYMQMaAFwAHgAgAGTAYgBzwiSAQMwLjiYAQCgAQHIAQTAAQE&sclient=gws-wiz-serp">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                <span> Location </span>
                            </a>
                            <a href="">
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                <span> Call +91 9924400501 </span>
                            </a>
                            <a href="">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                <span> volumepointbooks@gmail.com </span>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-md-6 col-lg-3 info-col">
            <div class="info_contact">
              <h4>Newsletter</h4>
              <form action="#">
                <input type="text" placeholder="Enter email" />
                <button type="submit">Subscribe</button>
              </form>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 info-col">
            <div class="map_container">
              <div class="map">
                <div id="googleMap"></div>
              </div>
            </div>
          </div> -->
            </div>
        </div>
    </section>

    <!-- end info section -->

    <!-- footer section -->
    <footer class="footer_section">
        <div class="container">
            <p>
                @ 2022 All Rights Reserved By VolumePoint
                <!-- &copy; <span id="displayYear"></span> All Rights Reserved By
          <a href="https://html.design/">Free Html Templates</a> -->
            </p>
        </div>
    </footer>
    <!-- footer section -->

    <!-- jQery -->
    <script src="js/jquery-3.4.1.min.js"></script>
    <!-- bootstrap js -->
    <script src="js/bootstrap.js"></script>
    <!-- custom js -->
    <script src="js/custom.js"></script>
    <!-- Google Map -->
    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap"></script>
    <!-- End Google Map -->
</body>

</html>