<!DOCTYPE html>
<html>

<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <link rel="icon" href="images/favicon.png" type="image/gif" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>VolumePoint</title>

    <!-- bootstrap core css -->
    {{!--
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" /> --}}
    <!-- font awesome style -->
    <link href="/css/font-awesome.min.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    {{!--
    <link href="/css/style.css" rel="stylesheet" /> --}}
    <link rel="stylesheet" href="/css/style2.css" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="/css/responsive.css" rel="stylesheet" />
</head>

<body class="sub_page">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />


    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="table-responsive">
                        <table class="table no-wrap user-table mb-0">
                            <thead>
                                <tr>
                                    <th scope="col" class="border-0 text-uppercase font-medium">
                                        Order ID
                                    </th>
                                    <th scope="col" class="border-0 text-uppercase font-medium">
                                        Customer
                                    </th>
                                    <th scope="col" class="border-0 text-uppercase font-medium">
                                        Phone
                                    </th>
                                    
                                    <th scope="col" class="border-0 text-uppercase font-medium">
                                        Total Rs.
                                    </th>
                                    <th scope="col" class="border-0 text-uppercase font-medium">
                                        No of Items
                                    </th>
                                    <th scope="col" class="border-0 text-uppercase font-medium">
                                        Delivered
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each data.records}}
                                <tr>
                                    <td class="pl-4">
                                        <a href="/admin/buy_order_details/{{order_id}}">{{order_id}}</a>
                                    </td>
                                    <td>
                                        <span class="text-muted">{{customer_name}}</span>
                                    </td>
                                    <td>
                                        <span class="text-muted">{{phone}}</span>
                                    </td>
                                    
                                    <td>
                                        <span class="text-muted">{{total}}</span>
                                    </td>
                                    <td>
                                        <span class="text-muted">{{no_of_item}}</span>
                                    </td>
                                    <td>
                                        <span class="text-muted">{{delivered}}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="7">
                                        <hr class="horz_line" />
                                    </td>
                                </tr>
                                {{/each }}
                                <tr>
                                    <td>
                                        {{#if data.records}}
                                        {{else}}
                                        <div class="heading_container heading_center">
                                            <br> <br>
                                            <center>
                                                <h2>No records found</h2>
                                            </center>
                                        </div>
                                        {{/if}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        
                    </div>
                </div>
            </div>

        </div>
        

        <div class="carousel_btn_box">
            {{#if data.prevPage}}
            <a class="carousel-control-prev carousel-control-prev2" href="/admin/buy_order/?page={{data.prevPage}}"
                role="button" data-slide="prev">
                <i class="fa fa-angle-left" aria-hidden="true"></i>
            </a>

            {{/if}}
            {{#if data.records}}
            <a class="carousel-control-next carousel-control-next2" href="/admin/buy_order/?page={{data.nextPage}}"
                role="button" data-slide="next">
                <i class="fa fa-angle-right" aria-hidden="true"></i>
            </a>
            {{/if}}
        </div>
    </div>

    <!-- jQery -->
    <script src="js/jquery-3.4.1.min.js"></script>
    <!-- bootstrap js -->
    <script src="js/bootstrap.js"></script>
    <!-- custom js -->
    <script src="js/custom.js"></script>
    <!-- Google Map -->
    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap"></script>
    <!-- End Google Map -->
</body>

</html>